[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "armadillo"]
	path = armadillo
	url = https://github.com/lsolanka/armadillo
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS
